/* work sans font from google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');


.head-logo{
    /* border: 1px solid#131318; */
    display: flex;

    padding-left: 127px;
    gap: 16px;
}
.section-title{
    padding-right: 0%;
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}
.logo{
    padding-top: 30px;
}
.travel{
    color: #FF5400;
}
nav {
    display: flex;
    gap: 398px;
    justify-content: space-between;
    align-items: center;
    
}
nav>ul {
    display: flex;
    padding-right: 127px;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
}
nav li {
    list-style: none;
    margin-right: 30px;

}
nav li a {
    text-decoration: none;
    color: #424247;
}
/* banner styles */
.banner {
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    border-radius: 16px;
    align-items: center;
    width: 1170px;
    height: 500px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    justify-content: center;
    margin-top: 60px;
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;

}
.banner-content{
    color: #FFF;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
.button-container{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
}
#button{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: 0;
    background: #FFF;
}
button{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
}
.type{
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
#buttonn{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
}









/* responsive media queries */
/* mobile devices */
@media screen and (max-width: 576px){
    .head-logo{
        display: flex;
        padding-left: 20px;
        gap: 16px;
    }
    .section-title{
        color: #131318;
    font-family: Mulish;
    font-size: 25px;
    font-weight: 800;
    }

}